<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dextris_Core Java_Examples/src/com/conditionalStmts/NestedIfEx.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.conditionalStmts.NestedIfEx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dextris_Core Java_Examples"/>
</launchConfiguration>
